<div class="container">
	<div class="row">
		<%= "User: #{@user.name}" %>
	</div>
	<div class="row">
		<div class="col">
			<h1>My Appointments</h1>

			<% @appointments.each do |appointment| %>
				<label><%= appointment.start %></label>
				<div>
					<% if appointment.client.nil? %>
						<%= "Open slot w/ #{appointment.coach.name}" %>
					<% elsif appointment.note.nil? %>
						<%= "Booked Coaching session with Coach #{appointment.coach.name} and #{appointment.client.name}" %>
						
						<% if appointment.coach == @user %>
							<%= button_to "Complete", {:controller => "application", :action => "complete", :appt_id => appointment.id }, :method => :get %>
						<% end %>

					<% else %>
						<%= "Completed Coaching session between Coach #{appointment.coach.name} and #{appointment.client.name}" %>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="col">
			<% if @user.isCoach %>
				<h2>Create New Session Slot</h2>
				<%= form_for @new_appointment, url: {controller: "application", action: "create" }, html: { class: 'input-group date' } do |f| %>
					<%= f.datetime_field :start %>
					<%= f.hidden_field :coach_id %>
					<%= f.submit "Create", class: 'btn btn-primary' %>
				<% end %>
			<% else %>
				<h2>Book a Session</h2>
				<% @available_sessions.each do |appt| %>
					<div>
						<b><%= appt.start %></b>
						<%= appt.coach.name %>
						<%= button_to "Book", {:controller => "application", :action => "book", :user_id => @user.id, :appt_id => appt.id }, :method => :post %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<!-- Modal Attempt 
<%# <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">

	    </div>
	</div>
</div> %> -->