<div class="container">
	<header>
		<h1><%= "#{@user.isCoach ? "Coach" : "User"}-#{@user.name}" %></h1>
	</header>
	<div class="row">
		<div class="col">
			<h2>My Appointments</h2>

			<% @appointments.each do |appointment| %>
				<div class="card">
					<label><%= appointment.start %></label>

					<% if appointment.client.nil? %>
						<%= "Open slot w/ #{appointment.coach.name}" %>
					<% elsif appointment.note.nil? %>
						<%= "Booked Coaching session with Coach #{appointment.coach.name} and #{appointment.client.name}" %>

						<% if appointment.coach == @user %>
							<%= button_to "Complete", {:controller => "application", :action => "complete", :appt_id => appointment.id }, :method => :get, class: "btn btn-primary" %>
						<% end %>

						<% if appointment.coach == @user %>
						<label><%= "#{appointment.client.name} Phone: #{appointment.client.phone}" %></label>
						<% end %>
						<% if appointment.client == @user %>
						<label><%= "#{appointment.coach.name} Phone: #{appointment.coach.phone}" %></label>
						<% end %>

					<% else %>
						<div>
						<p><%= "Completed Coaching session between Coach #{appointment.coach.name} and #{appointment.client.name}" %></p>
						<p><%= "Note: #{appointment.note.note}" %></p>
						<p><%= "Rating: #{appointment.note.rating}" %></p>

						<!-- C+P from above, yuck, but i'm running low on time-->
						<% if appointment.coach == @user %>
						<label><%= "#{appointment.client.name} Phone: #{appointment.client.phone}" %></label>
						<% end %>
						<% if appointment.client == @user %>
						<label><%= "#{appointment.coach.name} Phone: #{appointment.coach.phone}" %></label>
						<% end %>

						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="col">
			<% if @user.isCoach %>
				<h2>Create New Session Slot</h2>
				<%= form_for @new_appointment, url: {controller: "application", action: "create" }, html: { class: 'input-group date' } do |f| %>
					<%= f.datetime_field :start %>
					<%= f.hidden_field :coach_id %>
					<%= f.submit "Create", class: 'btn btn-primary' %>
				<% end %>
			<% else %>
				<h2>Book a Session</h2>
				<% @available_sessions.each do |appt| %>
					<div>
						<b><%= appt.coach.name %></b>

						<%= appt.start %>
						<%= button_to "Book", {:controller => "application", :action => "book", :user_id => @user.id, :appt_id => appt.id }, :method => :post, class: "btn btn-primary" %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>